<!DOCTYPE html>
<html>
<head>
  <title>Crops and Robbers!</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>

<h1 align="center"> Welcome to Crops and Robbers!</h1>
<img style="display: block; margin-left: auto; margin-right: auto; width: 50%;" src="https://media.giphy.com/media/3og0ILgFOEXIL8Bsn6/giphy.gif" alt="This will display an animated GIF" />

<div align="center">
	<%= link_to 'New Room', new_room_path %>
	<br>
	<%= link_to 'Join Room', new_player_path %>
</div>
</body>
</html>