<!DOCTYPE html>
<html>
<head>
  <title>SpyFarm</title>
</head>
<body>

<h1 align="center"> Welcome to Spy Farm.</h1>
<div align="center">
	<%= link_to 'New Room', new_room_path %>
	<br>
	<%= link_to 'Join Room', new_player_path %>
</div>
</body>
</html>