<p>
	<button <%="onclick=set_activity("+"#{@room.id}"+","+"'farming'"+","+"#{current_user.id}"+","+""+")" %> >Farm</button>
</p>
<p>
  Guard:
  <br>
  <% @room.players.each do |player| %>
	  <% unless player.name == current_user.name %>
	  	<button <%="onclick=set_activity("+"#{@room.id}"+","+"'guarding'"+","+"#{current_user.id}"+","+"#{player.id}"+")" %> ><%= "#{player.name}" %></button> <br>
	  <% end %>
  <% end %>
</p>