<p>
	Investigate:
	<br>
	<% @room.players.each do |player| %>
	  <% unless player.name == current_user.name %>
	  	<button <%="onclick=investigate("+"#{@room.id}"+","+"#{current_user.id}"+","+"#{player.id}"+")" %> ><%= "#{player.name}" %></button> <br>
	  <% end %>
	<% end %>
</p>