<p>
	<% if current_user.lives <= 0 %>
		You are dead! No more robbing for you!
	<% else %>
		Rob:
		<br>
		<% @room.players.each do |player| %>
			<% unless player.name == current_user.name %>
				<% if player.role == "thief" %>
					<%= player.name %> is another thief! <br>
				<% else %>
				<button <%="onclick=set_activity("+"#{@room.id}"+","+"'robbing'"+","+"#{current_user.id}"+","+"#{player.id}"+")" %> ><%= "#{player.name}" %></button> <br>
				<% end %>
			<% end %>
		<% end %>
	<% end %>
</p>
